:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.trader-app-v {
  background-color: rgba(29, 29, 29, 1);
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
}
.navbar {
  --igx-navbar-text-color: #FFFFFFFF;
  --igx-navbar-background: #222222FF;
  position: relative;
}
.nav-drawer {
  min-width: min-content;
  align-self: stretch;
  flex-shrink: 0;
}
.nav-drawer-item {
  position: relative;
  min-width: 0;
  min-height: 0;
}
.view-container {
  overflow: auto;
  position: relative;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
}
.navbar-content {
  gap: 1rem;
}
.icon-8 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: #FFFFFFFF;
  position: relative;
}
.h6 {
  margin: 0;
}
.icon-10 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: #FFFFFFFF;
}
.icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: hsla(var(--ig-gray-700));
}
.icon-2 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: hsla(var(--ig-gray-900));
}
.icon-5 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: hsla(var(--ig-primary-500));
}
